__pycache__/
*.py[cod]
*$py.class
.idea/
*.so
.vscode/
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
__pypackages__/
celerybeat-schedule
celerybeat.pid

.env/
env/
.vscode/

backend/crm/media
backend/crm/static

frontend/node_modules/
