.cell {
    h4 {
      font-size: 20px;
      line-height: 20px;
      color: #0f0f0f;
      letter-spacing: -.3px;
      font-weight: 400;
      margin-bottom: 15px;
    }
    
    p {
        font-weight: 300;
        vertical-align: top;
    }
    
    span{
        margin: 45px 0 15px;
        display: inline-block;
        color: gray;
    }
  
    @media (max-width: 860px) {
      span {
        margin: 25px 0 10px;
      }
    }
  }