.table {
  width: 1200px;
  display: grid;
  margin: 50px auto 0;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;

  @media (max-width: 1300px) {
    width: 80%;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
  @media (max-width: 400px) {
    width: 100%;
    grid-row-gap: 30px;
  }

  .cell {
    display: flex;
    @media (max-width: 1000px) {
      flex-direction: column;
    }

    img {
      margin-right: 20px;
      object-fit: contain;
      @media (max-width: 1000px) {
        margin: 0 0 20px;
      }
    }

    .desc {
      h4 {
        font-size: 20px;
        line-height: 20px;
        color: #4f4f4f;
        letter-spacing: -.3px;
        font-weight: 500;
        margin: 0 0 15px;
      }

      p {
        font-weight: 300;
        vertical-align: top;
      }
    }
  }
}